@font-face {
    font-family: "Jomhuria";
    src: url("../styles/fonts/Jomhuria-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    size-adjust: 180%;
}

@font-face {
    font-family: "Fira Mono";
    src: url("../styles/fonts/FiraMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Mono";
    src: url("../styles/fonts/FiraMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Mono";
    src: url("../styles/fonts/FiraMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/* 
html {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: normal;
} */

body {
    font-family: Fira Mono, Jomhuria, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;

    --color-main-900: #0c041a;
    --color-secondary-300: #f0d6c2;
    /* Proper one */
    /* --color-accent-500: #b8b8ff;
    --color-accent-500: #9999ff; */
    /* --color-accent-700: #49297f;
    --color-accent-500: #5bc3eb; */

    /* Kinda dig this  */
    /* --color-accent-700: #2c666e;
    --color-accent-500: #72bda3; */

    --color-accent-900: #261027;
    --color-accent-800: #401c33;
    --color-accent-700: #73334c;
    --color-accent-500: #e39a9d;

    /* --color-accent-700: #8b2635;
    --color-accent-500: #a35157; */

    /* --color-accent-700: #0e5466;
    --color-accent-500: #80bdba; */

    /* --color-accent-700: #065548;
    --color-accent-500: #78be9c; */

    /* --color-accent-700: #31354a;
    --color-accent-500: #a39e9e; */

    --color-white: #f7f7f7;

    --gradient-normal: linear-gradient(
        130deg,
        var(--color-accent-500),
        var(--color-accent-700),
        var(--color-main-900)
    );

    --animation-delay: 0.5s;
    --animation-duration: 1s;

    --padding-side: max(1.8vw, 2rem);
    --padding-vertical: 1rem;

    --margin-top: calc(var(--height-header) * 2);
    --margin-bottom: 5vh;

    --height-header: 4.5rem;

    --width-main-responsive: min(
        var(--width-main-content),
        calc(100vw - 2 * var(--padding-side))
    );
    --width-main-content: 1200px;
    --padding-main-content: calc((100vw - var(--width-main-content)) * 0.5);

    --font-main: Jomhuria;
    --font-body: Fira Mono;
    --main-font-letter-spacing: 0.02em;

    min-height: 100vh;
    background-color: var(--color-main-900);
    color: var(--color-white);
}

/* body {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
    scroll-snap-type: y mandatory;
} */

a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var(--color-secondary-300);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-main-900);
}

::selection {
    background-color: hsla(0, 0%, 100%, 0.5);
    color: var(--color-main-900);
}

::-moz-selection {
    background-color: red;
    color: red;
}

/* Firefox */
@supports (scrollbar-color: var(--color-main-900) var(--color-secondary-300)) {
    * {
        scrollbar-color: var(--color-main-900) var(--color-secondary-300);
        scrollbar-width: thin;
    }
}

/* ------------------ React Locomotive Scroll requirements ------------------ */
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}
.c-scrollbar:hover {
    transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-secondary-300);
    opacity: 1;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}
