span.colored {
    color: var(--color-secondary-300);
}

.landing {
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;

    padding-top: calc(var(--height-header) * 3);
}

.landing * {
    z-index: 1;
}

.landing h1 {
    /* margin-top: calc(var(--height-header) * 3); */
    line-height: 1em;

    font-size: 10vmin;
    font-weight: normal;
    font-family: var(--font-main);
    letter-spacing: var(--main-font-letter-spacing);
    line-height: var(--main-font-line-height);
    text-align: center;

    color: var(--color-secondary-300);
}

.landing h1 span {
    background: var(--gradient-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 200% 200%;
    animation: gradientTranslate 10s ease infinite;
}

.landing h2 {
    font-size: 5vmin;
    font-weight: normal;
    font-family: var(--font-main);
    letter-spacing: var(--main-font-letter-spacing);
    text-align: center;
}

@media (max-width: 600px) {
    .landing {
        padding-top: calc(var(--height-header) * 1.2);
    }

    .landing h1 {
        font-size: 3.5rem;
    }
    .landing h2 {
        margin-top: 2.5rem;
        font-size: 2rem;
        line-height: 1em;
    }
}

.landing p {
    text-align: center;

    width: 25vmax;
    margin-top: 15vmin;

    margin-inline: auto;
}

.landing .background {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: radial-gradient(rgba(255, 255, 255, 0.15) 8%, transparent 8%);
    background-size: 4.5vh 4.5vh;
    background-position: 0% 0%;
    z-index: 0;
    pointer-events: none;

    z-index: 0;
}

.landing .colored_spacer {
    position: relative;
    width: 100%;
    height: 9vh;

    margin-top: auto;

    background: var(--color-secondary-300);
    z-index: 2;
}

.colored_spacer::before {
    content: "";
    position: absolute;
    bottom: 0;

    background: var(--color-accent-700);
    height: 33.3%;
    width: 100%;
}
.colored_spacer::after {
    content: "";
    position: absolute;
    bottom: 33.3%;

    background: var(--color-accent-500);
    height: 33.3%;
    width: 100%;
}

.briefing {
    padding-top: var(--height-header);
    width: var(--width-main-responsive);

    margin: 0 auto;
}

.briefing {
    min-height: 100vh;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom) 0;
}

.title h2 {
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    font-family: var(--font-main);
    letter-spacing: var(--main-font-letter-spacing);
    line-height: var(--main-font-line-height);
}

.description {
    margin-top: calc(var(--margin-top) * 0.2);
    margin-bottom: calc(var(--margin-top) * 0.5);
    width: 50%;
}

.description p {
    text-align: center;
    color: var(--color-grey);
}

.grid {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: minmax(0, 1fr);
    grid-gap: max(2vmin, 1rem);

    justify-content: space-between;

    padding: 0 var(--padding-side);
}

@media (min-width: 600px) {
    .grid > *:nth-child(1) {
        animation-delay: calc(var(--animation-duration) * 0.4);
    }
    .grid > *:nth-child(2) {
        animation-delay: calc(var(--animation-duration) * 0.6);
    }
    .grid > *:nth-child(3) {
        animation-delay: calc(var(--animation-duration) * 0.8);
    }
    .grid > *:nth-child(4) {
        animation-delay: calc(var(--animation-duration) * 1);
    }
}

.foldDown {
    animation: foldDown var(--animation-duration) ease-in forwards;
    opacity: 0;
}

@keyframes foldDown {
    0% {
        opacity: 0;
        translate: 0 -30%;
    }
    100% {
        opacity: 1;
        translate: 0% 0%;
    }
}

.slideInLeft {
    animation: slideInLeft calc(var(--animation-duration) * 0.6) ease forwards;
    opacity: 0;
}

.slideInLeft:last-child {
    animation-delay: calc(var(--animation-duration) * 0.3);
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width: 990px) {
    .grid {
        grid-auto-flow: column;
        padding: 0 0;
    }
}
@media (max-width: 990px) {
    .grid {
        padding: 0 0;
    }
}
@media (max-width: 500px) {
    .description {
        width: 100%;
    }
    .title {
        margin-top: 0;
    }
}

.testing {
    height: 100vh;
}

span.colored {
    color: var(--color-secondary-300);
}

.navigation {
    pointer-events: none;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: center;

    height: 100%;
    width: 100%;

    z-index: 20;
}

.navigation .advance_button {
    display: flex;
    pointer-events: all;
    cursor: pointer;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 6vh;
    width: 6vh;

    margin-bottom: var(--margin-bottom);
    padding: 1vh;
    border-radius: 100%;
    outline: 0.5vh solid var(--color-secondary-300);

    background: var(--color-main-900);

    transition: 0.2s ease-in-out;
    transition: outline-width 0.1s ease;

    user-select: none;

    animation: jump-in calc(var(--animation-duration) * 0.5) ease-in forwards;
    animation-delay: calc(var(--animation-duration) * 2);
    opacity: 0;
}

@keyframes jump-in {
    0% {
        opacity: 0;
        translate: 0 -30%;
    }
    100% {
        opacity: 1;
        translate: 0% 0%;
    }
}

.navigation svg {
    display: block;

    height: 100%;
    width: 80%;

    fill: var(--color-secondary-300);
}

.navigation.hideNav {
    pointer-events: none;
    transition: translate 1s ease-in-out;
    translate: 0 200%;
}

.navigation.showNavExit {
    transition: translate 1s ease-in-out;
    translate: 0 200%;
}

.navigation.showNavDone {
    transition: translate 1s ease-in-out;
    translate: 0 0;
}

.advance_button:hover {
    transform: scale(1.05);
}

.advance_button:active {
    transform: scale(0.9);
    outline-width: 0;
}

.fadeIn {
    animation: fadeIn calc(var(--animation-duration) * 0.2) ease-in forwards;
    animation-delay: calc(var(--animation-duration));
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about {
    --about-margin: calc(var(--height-header) * 4);

    position: relative;

    padding-top: var(--about-margin);

    min-height: 100vh;
    min-height: 100dvh;

    z-index: 1; /* One above Contact to allow overlap*/
}

.background_gradient {
    position: absolute;

    height: var(--about-margin);
    width: 200%;

    background: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0.02),
        var(--color-main-900)
    );

    rotate: -5deg;
    top: 0;
    left: -50%;

    translate: 0 50%;

    z-index: -100;
}

.about .content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: var(--width-main-responsive);

    margin: 0 auto;
}

.about .title {
    width: 100%;

    margin: 0;

    align-items: flex-start;
}

.about .title h3 {
    font-family: var(--font-body);

    font-size: 1.5rem;
    font-weight: normal;

    text-align: left;

    color: var(--color-grey);
}

.about .title h2 {
    text-align: left;
}

span.gradient {
    background: var(--gradient-light);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 200% 200%;
    animation: gradientTranslate 12s ease infinite;
}

.contact {
    position: relative;

    /* min-height: 100vh;
    min-height: 100dvh; */

    z-index: 0; /* One below About to allow overlap */
}

.contact .background {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: var(--color-accent-700);

    z-index: -1;
}

.contact .background::after {
    content: "";

    position: absolute;
    top: -3vh;
    left: 0;

    height: 3vh;
    width: 100%;

    background: var(--color-accent-800);
}

.contact .background::before {
    content: "";

    position: absolute;
    top: -6vh;
    left: 0;

    height: 6vh;
    width: 100%;

    background: var(--color-accent-900);
}

.contact .content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: var(--width-main-responsive);

    margin: 0 auto;
    padding-bottom: calc(var(--margin-bottom) * 2);
}

.contact .title {
    margin-top: calc(var(--margin-top) * 1.5);
}

.contact .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: var(--padding-side); */

    margin-top: calc(var(--margin-top) * 0.4);

    width: var(--width-main-responsive);
}

.contact .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 0 var(--padding-side);
}

.contact .info * {
    text-align: right;
}

.contact .info h2 {
    font-family: var(--font-main);
    font-size: 2.5rem;
    font-weight: normal;

    color: var(--color-secondary-300);

    letter-spacing: var(--main-font-letter-spacing);
    line-height: var(--main-font-line-height);

    margin-bottom: auto;
}

.contact .info h2 span {
    /* Gradient text */
    background: var(--gradient-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-size: 400% 400%;
    animation: gradientTranslate 10s ease infinite;
}

@keyframes gradientTranslate {
    0% {
        background-position: 0% 50%;
    }
    30% {
        background-position: 100% 50%;
    }
    60% {
        background-position: 80% 80%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.contact .info p {
    font-size: 1.2rem;
}

.contact .info p span {
    font-style: italic;
}

.bounce {
    display: inline-block;
    margin-right: 0.1em;
    animation: bounce 4s ease infinite;
}

@keyframes bounce {
    0% {
        color: inherit;
        transform: translateY(0);
    }
    5% {
        font-weight: bold;
        color: var(--color-secondary-300);
        transform: translateY(-0.2em);
    }
    10% {
        color: inherit;
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .bounce {
        animation: none;
    }

    .contact .info p span {
        font-style: italic;
        font-weight: bold;
        color: var(--color-secondary-300);
    }

    .contact .grid {
        grid-template-columns: 1fr;
    }

    .contact .info {
        align-items: left;
    }

    .contact .info h2 {
        text-align: center;
    }

    .contact .info p {
        text-align: left;
    }

    .contact .info p:nth-child(2) {
        margin-top: 4rem;
    }

    .contact .title {
        margin-top: calc(var(--margin-top) * 0.8);
    }
}

.footer {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: var(--width-main-responsive);

    padding: var(--padding-side) 0;
    margin: 0 auto;

    background: var(--color-main-900);
}

.footer .socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--padding-side);
}

.footer .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3.2rem;
    width: 3.2rem;

    border: 0.13rem solid var(--color-grey);

    padding: 0.6rem;

    border-radius: 50%;

    transition: 0.2s ease;
}

.footer .icon svg {
    height: 100%;
    width: 100%;

    fill: var(--color-white);
}

.footer .icon:nth-child(2) svg {
    height: 90%;
    width: 90%;

    fill: none;
    stroke: var(--color-white);
}

.footer .icon:hover {
    background: var(--color-accent-700);
    translate: 0 -10%;
    filter: brightness(1.1);

    animation: gradient 6.4s ease infinite alternate;
}

@keyframes gradient {
    0% {
        filter: brightness(1);
    }
    40% {
        filter: brightness(1.2);
    }
    70% {
        filter: brightness(0.9);
    }
    100% {
        filter: brightness(1);
    }
}

.footer .legal p {
    width: 100%;
    text-align: center;
    font-size: 0.9em;

    margin-top: 1.2rem;
}

.footer .legal p span {
    cursor: pointer;

    color: var(--color-accent-500);
}
.footer .legal p span:hover {
    filter: brightness(1.1);
    text-decoration: underline;
}

.footer .legal p span:active {
    filter: brightness(1.2);
    text-decoration: none;
}

.footer .legal p.copyright {
    margin-top: 0.3rem;
    opacity: 0.8;
}

.footer .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: var(--padding-side);

    margin-top: 0;

    width: var(--width-main-responsive);
}

.footer .links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    gap: 0.5rem;
}

.footer .presentation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    gap: 0.5rem;
}

.footer .presentation .slogan {
    font-size: 1.2rem;
    color: var(--color-grey);
    text-align: end;
}

.footer .presentation .logo {
    font-size: 3rem;
    font-family: var(--font-main);
    letter-spacing: 0.2rem;
    line-height: var(--main-font-line-height);
    color: var(--color-white);
    text-align: end;
}

.footer a:hover {
    filter: brightness(1.1);
    text-decoration: underline;
}

.footer a:active {
    filter: brightness(1.2);
    text-decoration: none;
}

.footer .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    gap: 0.5rem;
}

.footer .newsletter .title {
    font-size: 1.2rem;
    color: var(--color-grey);
    text-align: center;
}

.footer .newsletter .form {
    display: grid;
    grid-template-columns: 2fr 1fr;

    width: 90%;

    gap: 0.5rem;
}

.footer .newsletter .form input {
    height: 2.5rem;
    width: 100%;
    padding: 0.5rem 1rem;
    /* background-color: var(--color-accent-500); */
    border: 2px solid var(--color-grey);

    border-radius: 0.5em 0 0 0.5em;

    font-size: 1rem;

    font-family: var(--font-body);

    text-align: center;

    transition: 0.2s ease;
}

.footer .newsletter .form input:focus,
.footer .newsletter .form input:valid {
    outline: 2px solid var(--color-accent-500);
    background-color: var(--color-accent-800);
    color: white;
    border-radius: 0.3em;
    border: none;
}

.footer .newsletter .form input:focus::placeholder,
.footer .newsletter .form input:valid::placeholder {
    color: transparent;
}

.footer .newsletter .form button {
    height: 2.5rem;
    padding: 0.5rem 1rem;

    background-color: var(--color-accent-700);
    color: var(--color-white);

    font-size: 1.1rem;

    font-family: var(--font-body);

    text-align: center;

    border-radius: 0 0.5rem 0.5rem 0;

    transition: 0.2s ease;
}

.footer .newsletter .form button:hover {
    filter: brightness(1.1);
    translate: 0 -5%;
}

.footer .newsletter .form button:active {
    filter: brightness(1.2);
    translate: 0 0;
}

.footer .spacer {
    position: relative;

    height: min(0.4vh, 0.15rem);
    height: min(0.4dvh, 0.15rem);
    width: 100%;

    margin: var(--padding-side) 0;

    border-radius: 100rem;

    background: var(--color-accent-700);

    overflow: hidden;
}

.footer .spacer span {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    height: 100%;
    width: 100%;

    animation: flyOver 6.4s ease infinite alternate;
}

.footer .spacer span:nth-child(1) {
    background: var(--color-secondary-300);

    animation-delay: 0ms;
}
.footer .spacer span:nth-child(2) {
    background: var(--color-accent-700);

    animation-delay: 300ms;
}
.footer .spacer span:nth-child(3) {
    background: var(--color-accent-500);

    animation-delay: 500ms;

    animation-direction: reverse;
}
.footer .spacer span:nth-child(4) {
    background: var(--color-grey);

    animation-duration: 5s;
    animation-delay: 900ms;
}

@keyframes flyOver {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(0%);
    }
    70% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@media (max-width: 600px) {
    .footer .grid {
        grid-template-columns: 1fr;
    }

    .footer .links {
        align-items: center;
    }

    .footer .presentation {
        align-items: center;
    }
    .footer .presentation p {
        text-align: center;
    }

    .footer .newsletter {
        align-items: center;
    }
}

@media (max-width: 850px) {
    .footer .newsletter .form {
        grid-template-columns: 1fr;
    }

    .footer .newsletter .form input {
        border-radius: 0.5em;
    }

    .footer .newsletter .form button {
        border-radius: 0.5em;
    }
}

.testimonials {
    position: relative;

    min-height: 101vh;
    min-height: 101dvh;
    width: 100%;

    background-color: var(--color-accent-700);

    translate: 0 -1vh; /* Prevent weird scrolling artifact between sections */

    isolation: isolate;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 10vh;
    width: 100%;

    background: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0.02),
        var(--color-accent-700)
    );

    transform: skewY(3deg);

    z-index: -1;
}

.testimonials .grid {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 0.5rem;

    padding: 0 var(--padding-side);
    padding-top: 10vh;
    padding-bottom: 10vh;

    transform: skewY(-3deg);
}

.testimonials .grid > * {
    background-color: brown;
}
