.header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: var(--padding-vertical)
        max(var(--padding-main-content), var(--padding-side));
    width: 100%;
    height: var(--height-header);
    z-index: 500;

    background-color: var(--color-main-900);

    font-size: 1.05rem;

    transition: transform 0.3s ease;
    transform: translateY(-100%);

    animation: drop-in var(--animation-duration) ease-in-out forwards;
    animation-delay: calc(var(--animation-duration) * 1.5);
}

@keyframes drop-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.header .section {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;

    height: 100%;
    opacity: 0;

    animation: fade-in var(--animation-duration) ease-in-out forwards;
    animation-delay: var(--animation-duration);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header .section * {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 0.8em;
    border-radius: 0.6rem;
    height: 90%;

    transition: 0.1s ease-in-out;
}

.header .section:first-child * {
    justify-content: flex-start;
    padding: 0;
    height: auto;

    /* font-weight: bold; */
    font-family: var(--font-main);
    letter-spacing: 0.05em;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.header .section:last-child {
    gap: calc(var(--padding-side) * 0.6);
}

.header .section :not(.launch):hover {
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    outline: 2px solid var(--color-secondary-300);
    color: var(--color-secondary-300);
}

.header .section :not(.launch):active {
    outline: none;
    color: var(--color-secondary-300);

    transform: scale(0.9);
}

.header .section:first-child *:hover {
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    outline: none;
}

.header .section:first-child :active {
    color: var(--color-secondary-300);

    transform: scale(0.9);
}
.launch {
    background-color: var(--color-secondary-300);
    border: 0.3vmin solid transparent;

    color: var(--color-main-900);
    font-family: var(--font-body);
    font-weight: bold;
    letter-spacing: normal;
}

.launch:hover {
    cursor: pointer;
    user-select: none;

    background: linear-gradient(var(--color-main-900), var(--color-main-900))
            padding-box,
        linear-gradient(
                130deg,
                var(--color-accent-500),
                var(--color-accent-700)
            )
            border-box;
    color: var(--color-white);
    transition: color 0s;
}

.launch:active {
    color: var(--color-white);
    transform: scale(0.9);
}

.header.shadow {
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.header.hidden {
    transform: translateY(-100%);
}
