.spacer_container {
    width: 0%;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;

    background-color: var(--color-accent-800);

    animation: expandLeft var(--animation-duration) ease forwards;

    animation-delay: calc(
        var(--animation-duration) + var(--animation-duration) * 0.2
    );
}

.spacer1 {
    height: 3vh;
    background-color: var(--color-secondary-300);
}

.spacer2 {
    height: 3vh;
    background-color: var(--color-accent-500);
}

.spacer3 {
    height: 3vh;
    background-color: var(--color-accent-700);
}

@keyframes expandLeft {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.spacer4 {
    height: 3vh;
    background-color: var(--color-accent-900);
    width: 100%;
}

.shape {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 55px;
}

.shape .shape_fill {
    fill: var(--color-accent-900);
}
